
<div class="panel panel-default">
  <div class="panel-heading">
    <h2>Hash Lists</h2>


<ul class="nav nav-pills">
	<li class="<%= "active" if params[:action] == "index" %>"><%= link_to "index", hash_lists_path %></li>
	<li class="<%= "active" if params[:action] == "new" %>"><%= link_to "New Hash List", hash_lists_new_path %></li>

</ul>

  </div>

  <div class="panel-body">
